@model AgendaApp.Models.EventoViewModels

<head>
    @{
        ViewBag.Title = "Index";
        bool existeCardInvisivel = true;
    }
    <script type="text/javascript" src="~/Scripts/evento.js"></script>
    <title>Index</title>
     
    <script>
        alerta('@TempData["ErrorMail"]', 'erro');
        alerta('@TempData["Sucesso"]', 'sucesso');
    </script>
    
</head>

<body ng-app="eventoApp" ng-controller="EventoController">

    <div class="row">
        <div class="col s8 offset-s4 m12 l12">
            <h4>Eventos</h4>
        </div>
    </div>

    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large orange">
            <i class="large material-icons">event</i>
        </a>
        <ul>
            <span ng-if="selection.length > 0">
                <li><a class="btn-floating btn waves-effect waves-light red" ng-click="excluir()"><i class="material-icons">delete</i></a></li>
            </span>
            <span ng-if="selection.length == 1">
                <li><a class="btn-floating btn waves-effect waves-light yellow" ng-click="visualizar()"><i class="material-icons"><i class="material-icons">pageview</i></i></a></li>
            </span>
            <li>
                <a class="btn-floating btn waves-effect waves-light light-blue darken-3" href="#" onclick="location.href='@Url.Action("inserir", "Evento")'">
                    <i class="material-icons">add</i>
                </a>
            </li>
        </ul>
    </div>

    <div class="row">
        <div class="col s12 m12 l12">
            <ul class="tabs">
                <li class="tab col s3"><a class="active" href="#dia" ng-click="listarEventosDiarios()">Dia</a></li>
                <li class="tab col s3"><a href="#semana" ng-click="listarEventosSemanais()">Semana</a></li>
                <li class="tab col s3"><a href="#mes" ng-click="listarEventosMensais()">Mês</a></li>
            </ul>
        </div>
    </div>

    <div id="dia">
        <ul id="eventosDiariosList">
            <li class="" style="transform: translateX(0px); opacity: 0;">
                <div class="row">
                    <div class="card blue darken-3 col s12 m6 l4">
                        <h5 style="padding: 15px" class="center white-text">{{dia + " / " + mes}}</h5>
                    </div>
                </div>
            </li>

            @foreach (var item in Model.EventosDiarios)
            {
                <li class="" style="transform: translateX(0px); opacity: 0;">
                    <div class="row">
                        <div class="card hoverable col s12 m6 l4">
                            <div class="card-image waves-effect waves-block waves-light">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">
                                    @item.Horario.ToString(@"hh\:mm")
                                    <i class="material-icons right">reorder</i>
                                </span>
                                <p>
                                    @item.Nome
                                    <span style="margin-right:-14px" class="right">
                                        <input id="@item.Id" type="checkbox" value="@item.Id" ng-checked="selection.indexOf(@item.Id) > -1" ng-click="toggleSelection(@item.Id)" />
                                        <label for="@item.Id"></label>
                                    </span>
                                </p>
                                <br />
                                <br />
                                <br />
                                @if (item.UsuariosPassivos.Any())
                                {
                                    foreach (var contato in item.UsuariosPassivos)
                                    {
                                        <p>
                                            @contato.Nome @contato.Sobrenome
                                        </p>
                                    }
                                }
                                else
                                {
                                    <p>
                                        Nenhum integrante
                                    </p>
                                }
                                <p>
                                    @item.Local
                                </p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">@item.Nome<i class="material-icons right">close</i></span>
                                <p>
                                    @item.Descricao
                                </p>
                                <p>
                                    @item.Periodicidade
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>

    <div id="semana">
        <ul id="eventosSemanaisList">
            <div class="col s12 lhalf">
                <ul>
                    <li style="transform: translateX(0px); opacity: 0;">
                        <div class="card blue darken-3 col s12 m6 l12">
                            <h5 style="margin: 15px" class="center white-text flow-text">Dom</h5>
                        </div>
                    </li>
                    @foreach (var item in Model.EventosDomingo)
                    {
                        <li class="" style="transform: translateX(0px); opacity: 0;">
                            <div style="padding:8px; min-height:126px; max-height:126px;" class="card hoverable col s12 m6 l12">
                                <span class="card-title grey-text text-darken-4">
                                    <span class="left">
                                        @item.Horario.ToString(@"hh\:mm")
                                    </span>
                                    <span style="margin-top:5px; padding-left:10px" class="right">
                                        <input id="@item.Id" type="checkbox" value="@item.Id" ng-checked="selection.indexOf(@item.Id) > -1" ng-click="toggleSelection(@item.Id)" />
                                        <label for="@item.Id"></label>
                                    </span>
                                </span>
                                <br />
                                <p>
                                    @item.Nome em @item.Local
                                </p>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            <div class="col s12 lhalf">
                <ul>
                    <li style="transform: translateX(0px); opacity: 0;">
                        <div class="card blue darken-3 col s12 m6 l12">
                            <h5 style="margin: 15px" class="center white-text flow-text">Seg</h5>
                        </div>
                    </li>
                    @foreach (var item in Model.EventosSegunda)
                    {
                        <li class="" style="transform: translateX(0px); opacity: 0;">
                            <div style="padding:8px; min-height:126px; max-height:126px;" class="card hoverable col s12 m6 l12">
                                <span class="card-title grey-text text-darken-4">
                                    <span class="left">
                                        @item.Horario.ToString(@"hh\:mm")
                                    </span>
                                    <span style="margin-top:5px; padding-left:10px" class="right">
                                        <input id="@item.Id" type="checkbox" value="@item.Id" ng-checked="selection.indexOf(@item.Id) > -1" ng-click="toggleSelection(@item.Id)" />
                                        <label for="@item.Id"></label>
                                    </span>
                                </span>
                                <br />
                                <p>
                                    @item.Nome em @item.Local
                                </p>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            <div class="col s12 lhalf">
                <ul>
                    <li style="transform: translateX(0px); opacity: 0;">
                        <div class="card blue darken-3 col s12 m6 l12">
                            <h5 style="margin: 15px" class="center white-text flow-text">Ter</h5>
                        </div>
                    </li>
                    @foreach (var item in Model.EventosTerca)
                    {
                        <li class="" style="transform: translateX(0px); opacity: 0;">
                            <div style="padding:8px; min-height:126px; max-height:126px;" class="card hoverable col s12 m6 l12">
                                <span class="card-title grey-text text-darken-4">
                                    <span class="left">
                                        @item.Horario.ToString(@"hh\:mm")
                                    </span>
                                    <span style="margin-top:5px; padding-left:10px" class="right">
                                        <input id="@item.Id" type="checkbox" value="@item.Id" ng-checked="selection.indexOf(@item.Id) > -1" ng-click="toggleSelection(@item.Id)" />
                                        <label for="@item.Id"></label>
                                    </span>
                                </span>
                                <br />
                                <p>
                                    @item.Nome em @item.Local
                                </p>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            <div class="col s12 lhalf">
                <ul>
                    <li style="transform: translateX(0px); opacity: 0;">
                        <div class="card blue darken-3 col s12 m6 l12">
                            <h5 style="margin: 15px" class="center white-text flow-text">Qua</h5>
                        </div>
                    </li>
                    @foreach (var item in Model.EventosQuarta)
                    {
                        <li class="" style="transform: translateX(0px); opacity: 0;">
                            <div style="padding:8px; min-height:126px; max-height:126px;" class="card hoverable col s12 m6 l12">
                                <span class="card-title grey-text text-darken-4">
                                    <span class="left">
                                        @item.Horario.ToString(@"hh\:mm")
                                    </span>
                                    <span style="margin-top:5px; padding-left:10px" class="right">
                                        <input id="@item.Id" type="checkbox" value="@item.Id" ng-checked="selection.indexOf(@item.Id) > -1" ng-click="toggleSelection(@item.Id)" />
                                        <label for="@item.Id"></label>
                                    </span>
                                </span>
                                <br />
                                <p>
                                    @item.Nome em @item.Local
                                </p>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            <div class="col s12 lhalf">
                <ul>
                    <li style="transform: translateX(0px); opacity: 0;">
                        <div class="card blue darken-3 col s12 m6 l12">
                            <h5 style="margin: 15px" class="center white-text flow-text">Qui</h5>
                        </div>
                    </li>
                    @foreach (var item in Model.EventosQuinta)
                    {
                        <li class="" style="transform: translateX(0px); opacity: 0;">
                            <div style="padding:8px; min-height:126px; max-height:126px;" class="card hoverable col s12 m6 l12">
                                <span class="card-title grey-text text-darken-4">
                                    <span class="left">
                                        @item.Horario.ToString(@"hh\:mm")
                                    </span>
                                    <span style="margin-top:5px; padding-left:10px" class="right">
                                        <input id="@item.Id" type="checkbox" value="@item.Id" ng-checked="selection.indexOf(@item.Id) > -1" ng-click="toggleSelection(@item.Id)" />
                                        <label for="@item.Id"></label>
                                    </span>
                                </span>
                                <br />
                                <p>
                                    @item.Nome em @item.Local
                                </p>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            <div class="col s12 lhalf">
                <ul>
                    <li style="transform: translateX(0px); opacity: 0;">
                        <div class="card blue col darken-3 s12 m6 l12">
                            <h5 style="margin: 15px" class="center white-text flow-text">Sex</h5>
                        </div>
                    </li>
                    @foreach (var item in Model.EventosSexta)
                    {
                        <li class="" style="transform: translateX(0px); opacity: 0;">
                            <div style="padding:8px; min-height:126px; max-height:126px;" class="card hoverable col s12 m6 l12">
                                <span class="card-title grey-text text-darken-4">
                                    <span class="left">
                                        @item.Horario.ToString(@"hh\:mm")
                                    </span>
                                    <span style="margin-top:5px; padding-left:10px" class="right">
                                        <input id="@item.Id" type="checkbox" value="@item.Id" ng-checked="selection.indexOf(@item.Id) > -1" ng-click="toggleSelection(@item.Id)" />
                                        <label for="@item.Id"></label>
                                    </span>
                                </span>
                                <br />
                                <p>
                                    @item.Nome em @item.Local
                                </p>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            <div class="col s12 lhalf">
                <ul>
                    <li style="transform: translateX(0px); opacity: 0;">
                        <div class="card blue darken-3 col s12 m6 l12">
                            <h5 style="margin: 15px" class="center white-text flow-text">Sab</h5>
                        </div>
                    </li>
                    @foreach (var item in Model.EventosSabado)
                    {
                        <li class="" style="transform: translateX(0px); opacity: 0;">
                            <div style="padding:8px; min-height:126px; max-height:126px;" class="card hoverable col s12 m6 l12">
                                <span class="card-title grey-text text-darken-4">
                                    <span class="left">
                                        @item.Horario.ToString(@"hh\:mm")
                                    </span>
                                    <span style="margin-top:5px; padding-left:10px" class="right">
                                        <input id="@item.Id" type="checkbox" value="@item.Id" ng-checked="selection.indexOf(@item.Id) > -1" ng-click="toggleSelection(@item.Id)" />
                                        <label for="@item.Id"></label>
                                    </span>
                                </span>
                                <br />
                                <p>
                                    @item.Nome em @item.Local
                                </p>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </ul>
    </div>

    <div id="mes">
        <ul id="eventosMensaisList">
            <div class="col s12 lhalf">
                <ul>
                    <li style="transform: translateX(0px); opacity: 0;">
                        <div class="card blue darken-3 col s12 m6 l12">
                            <h5 style="margin: 15px" class="center white-text flow-text">Dom</h5>
                        </div>
                    </li>
                    
                    @foreach (var item in Model.QuantidadeDomingosMes)
                    {
                        var existePrimeiroDomingo = Model.EventosPrimeiroDomingo.Where(e => e.SemanaDoMes == 1);
                        if (!existePrimeiroDomingo.Any() && existeCardInvisivel)
                        {
                            <li class="" style="transform: translateX(0px); opacity: 0;">
                                <div style="padding:8px; min-height:126px; max-height:126px; visibility:hidden;" class="card hoverable col s12 m6 l12">
                                    @*<span class="card-title grey-text text-darken-4">
                                    </span>*@
                                </div>
                            </li>
                            existeCardInvisivel = false;
                        }
                        <li class="" style="transform: translateX(0px); opacity: 0;">
                            <div style="padding:8px; min-height:126px; max-height:126px;" class="card hoverable col s12 m6 l12">
                                <span class="card-title grey-text text-darken-4">
                                    <span class="left" style="font-size: 16px;">
                                        @item.Day
                                    </span>
                                    <span style="margin-top:5px; padding-left:10px" class="right">
                                        <span class="new badge">@Model.EventosPrimeiroDomingo.Count() Eventos</span>
                                    </span>
                                </span>
                            </div>
                        </li>
                        }
                </ul>
            </div>
            <div class="col s12 lhalf">
                <ul>
                    <li style="transform: translateX(0px); opacity: 0;">
                        <div class="card blue darken-3 col s12 m6 l12">
                            <h5 style="margin: 15px" class="center white-text flow-text">Seg</h5>
                        </div>
                    </li>
                    @foreach (var item in Model.QuantidadeSegundasMes)
                    {
                        var existePrimeiroDomingo = Model.EventosPrimeiroDomingo.Where(e => e.SemanaDoMes == 1);
                        if (!existePrimeiroDomingo.Any() && existeCardInvisivel)
                        {
                            <li class="" style="transform: translateX(0px); opacity: 0;">
                                <div style="padding:8px; min-height:126px; max-height:126px; visibility:hidden;" class="card hoverable col s12 m6 l12">
                                    @*<span class="card-title grey-text text-darken-4">
                                    </span>*@
                                </div>
                            </li>
                            existeCardInvisivel = false;
                        }
                        <li class="" style="transform: translateX(0px); opacity: 0;">
                            <div style="padding:8px; min-height:126px; max-height:126px;" class="card hoverable col s12 m6 l12">
                                <span class="card-title grey-text text-darken-4">
                                    <span class="left" style="font-size: 16px;">
                                        @item.Day
                                    </span>
                                    <span style="margin-top:5px; padding-left:10px" class="right">
                                        
                                    </span>
                                </span>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            <div class="col s12 lhalf">
                <ul>
                    <li style="transform: translateX(0px); opacity: 0;">
                        <div class="card blue darken-3 col s12 m6 l12">
                            <h5 style="margin: 15px" class="center white-text flow-text">Ter</h5>
                        </div>
                    </li>
                    @foreach (var item in Model.QuantidadeTercasMes)
                    {
                        var existePrimeiroDomingo = Model.EventosPrimeiroDomingo.Where(e => e.SemanaDoMes == 1);
                        if (!existePrimeiroDomingo.Any() && existeCardInvisivel)
                        {
                            <li class="" style="transform: translateX(0px); opacity: 0;">
                                <div style="padding:8px; min-height:126px; max-height:126px; visibility:hidden;" class="card hoverable col s12 m6 l12">
                                    @*<span class="card-title grey-text text-darken-4">
                                        </span>*@
                                </div>
                            </li>
                            existeCardInvisivel = false;
                        }
                        <li class="" style="transform: translateX(0px); opacity: 0;">
                            <div style="padding:8px; min-height:126px; max-height:126px;" class="card hoverable col s12 m6 l12">
                                <span class="card-title grey-text text-darken-4">
                                    <span class="left" style="font-size: 16px;">
                                        @item.Day
                                    </span>
                                    <span style="margin-top:5px; padding-left:10px" class="right">
                                        @*<input id="@item.Id" type="checkbox" value="@item.Id" ng-checked="selection.indexOf(@item.Id) > -1" ng-click="toggleSelection(@item.Id)" />
                                        <label for="@item.Id"></label>*@
                                    </span>
                                </span>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            <div class="col s12 lhalf">
                <ul>
                    <li style="transform: translateX(0px); opacity: 0;">
                        <div class="card blue darken-3 col s12 m6 l12">
                            <h5 style="margin: 15px" class="center white-text flow-text">Qua</h5>
                        </div>
                    </li>
                    @foreach (var item in Model.QuantidadeQuartasMes)
                    {
                        var existePrimeiroDomingo = Model.EventosPrimeiroDomingo.Where(e => e.SemanaDoMes == 1);
                        if (!existePrimeiroDomingo.Any() && existeCardInvisivel)
                        {
                            <li class="" style="transform: translateX(0px); opacity: 0;">
                                <div style="padding:8px; min-height:126px; max-height:126px; visibility:hidden;" class="card hoverable col s12 m6 l12">
                                    @*<span class="card-title grey-text text-darken-4">
                                        </span>*@
                                </div>
                            </li>
                            existeCardInvisivel = false;
                        }
                        <li class="" style="transform: translateX(0px); opacity: 0;">
                            <div style="padding:8px; min-height:126px; max-height:126px;" class="card hoverable col s12 m6 l12">
                                <span class="card-title grey-text text-darken-4">
                                    <span class="left" style="font-size: 16px;">
                                        @item.Day
                                    </span>
                                    <span style="margin-top:5px; padding-left:10px" class="right">
                                        @*<input id="@item.Id" type="checkbox" value="@item.Id" ng-checked="selection.indexOf(@item.Id) > -1" ng-click="toggleSelection(@item.Id)" />
                                        <label for="@item.Id"></label>*@
                                    </span>
                                </span>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            <div class="col s12 lhalf">
                <ul>
                    <li style="transform: translateX(0px); opacity: 0;">
                        <div class="card blue darken-3 col s12 m6 l12">
                            <h5 style="margin: 15px" class="center white-text flow-text">Qui</h5>
                        </div>
                    </li>
                    @foreach (var item in Model.QuantidadeQuintasMes)
                    {
                        var existePrimeiroDomingo = Model.EventosPrimeiroDomingo.Where(e => e.SemanaDoMes == 1);
                        if (!existePrimeiroDomingo.Any() && existeCardInvisivel)
                        {
                            <li class="" style="transform: translateX(0px); opacity: 0;">
                                <div style="padding:8px; min-height:126px; max-height:126px; visibility:hidden;" class="card hoverable col s12 m6 l12">
                                    @*<span class="card-title grey-text text-darken-4">
                                        </span>*@
                                </div>
                            </li>
                            existeCardInvisivel = false;
                        }
                        <li class="" style="transform: translateX(0px); opacity: 0;">
                            <div style="padding:8px; min-height:126px; max-height:126px;" class="card hoverable col s12 m6 l12">
                                <span class="card-title grey-text text-darken-4">
                                    <span class="left" style="font-size: 16px;">
                                        @item.Day
                                    </span>
                                    <span style="margin-top:5px; padding-left:10px" class="right">
                                        @*<input id="@item.Id" type="checkbox" value="@item.Id" ng-checked="selection.indexOf(@item.Id) > -1" ng-click="toggleSelection(@item.Id)" />
                                        <label for="@item.Id"></label>*@
                                    </span>
                                </span>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            <div class="col s12 lhalf">
                <ul>
                    <li style="transform: translateX(0px); opacity: 0;">
                        <div class="card blue col darken-3 s12 m6 l12">
                            <h5 style="margin: 15px" class="center white-text flow-text">Sex</h5>
                        </div>
                    </li>
                    @foreach (var item in Model.QuantidadeSextasMes)
                    {
                        <li class="" style="transform: translateX(0px); opacity: 0;">
                            <div style="padding:8px; min-height:126px; max-height:126px;" class="card hoverable col s12 m6 l12">
                                <span class="card-title grey-text text-darken-4">
                                    <span class="left" style="font-size: 16px;">
                                        @item.Day
                                    </span>
                                    <span style="margin-top:5px; padding-left:10px" class="right">
                                        @*<input id="@item.Id" type="checkbox" value="@item.Id" ng-checked="selection.indexOf(@item.Id) > -1" ng-click="toggleSelection(@item.Id)" />
                                        <label for="@item.Id"></label>*@
                                    </span>
                                </span>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            <div class="col s12 lhalf">
                <ul>
                    <li style="transform: translateX(0px); opacity: 0;">
                        <div class="card blue darken-3 col s12 m6 l12">
                            <h5 style="margin: 15px" class="center white-text flow-text">Sab</h5>
                        </div>
                    </li>
                    @foreach (var item in Model.QuantidadeSabadosMes)
                    {
                        <li class="" style="transform: translateX(0px); opacity: 0;">
                            <div style="padding:8px; min-height:126px; max-height:126px;" class="card hoverable col s12 m6 l12">
                                <span class="card-title grey-text text-darken-4">
                                    <span class="left" style="font-size: 16px;">
                                        @item.Day
                                    </span>
                                    <span style="margin-top:5px; padding-left:10px" class="right">
                                        @*<input id="@item.Id" type="checkbox" value="@item.Id" ng-checked="selection.indexOf(@item.Id) > -1" ng-click="toggleSelection(@item.Id)" />
                                        <label for="@item.Id"></label>*@
                                    </span>
                                </span>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </ul>
    </div>
</body>